div {
  /* height: 200px;
  width: 200px;
  background-color: pink;
  translate: 300px 300px;
   transition:  translate 4s linear;
  border: 5px dashed rgb(14, 14, 81);  */
}

div:hover {
  scale: 1.5;
  /* transform: rotate(45deg) scale(1.5); */

  transition: scale 1s ease-in;
  




}
